<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>資産が日進月歩 - トップページ</title>
  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', path='css/index.css') }}">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <p>学生向け資産形成シミュレーション</p>
    <h1>資産が日進月歩</h1>
  </header>
  <main>
    <p>資産形成をゲーム感覚で学んでみませんか？</p>
    <div class="steps">
      <div class="step">
        <img src="../../static/images/step1.png" alt="Step 1" class="step-image">
        <div class="step-box">
        <h2>Step 1</h2>
        <p>各質問に答える</p>
        </div>
      </div>
      <div class="step">
        <img src="../../static/images/step2.png" alt="Step 2" class="step-image">
        <div class="step-box">
        <h2>Step 2</h2>
        <p>あなたに合った資産計画を紹介！</p>
      </div>
      </div>
      <div class="step">
        <img src="../../static/images/step3.png" alt="Step 3" class="step-image">
        <div class="step-box">
        <h2>Step 3</h2>
        <p>資産形成のための提案！</p>
      </div>
      </div>
    </div>
    <a href="/entry" class="button">資産シミュレーションをしてみる</a> 
  </main>
</body>
</html>
